<!DOCTYPE html>
<html lang="en">

<body>
    <div class="root container-fluid" style="padding: 0;">

        <%-include('common-header');%>
            <div class="div-1">
                <div class="CPU-1" id="CPU-first">
                    <img src="./화면구현사진모음/CPU사진.png">
                    <div class="CPU-1-TEXT">
                        <h2>세계 최초 6.0GHz의 속도</h2>
                        <h2>상상 이상의 성능 [인텔 i9-13900KS]</h2>
                        <br>
                        <br>
                        <!--본문 내용-->
                        <img src="./화면구현사진모음/CPU스펙.png">
                    </div>
                </div>
            </div>
            <div class="div-2">
                <div class="CPU-2" id="CPU-second">
                    <img src="./화면구현사진모음/CPU사진2.png">
                    <div class="CPU-2-TEXT">
                        <h2>컴퓨터의 두뇌 CPU</h2>
                        <h2>CPU는 무엇이고 어떤 동작을 할까?</h2>
                        <br>
                        <br>
                        <h4>
                            CPU는 3가지의 동작을 수행합니다.
                            <hr>
                            1. 데이터 가져오기(Fetch) :
                            <hr>
                            - 데이터를 RAM으로부터 가져와 프로그램 카운터(PC)에 데이터(명령어)를 보관
                            <hr>
                            2. 디코딩(Decoding) :
                            <hr>
                            - 명령을 가져와서 명령 해독기라는 회로로 명령을 전달
                            <hr>
                            3. 실행(Execute) :
                            <hr>
                            - 마지막 단계에서 디코딩된 명령문은 완료될 CPU의 관련 부분으로 전송
                            <hr>
                            <br>
                            그렇기에 램을 구매시에는 빠르게 램을 읽어와 전달 할 수 있는지의 계산 척도인
                            <hr>
                            CPU 성능 = (클럭 * IPC) * 코어 수를 기억하여
                            <hr>
                            클럭, IPC, 코어 수가 많은 램을 구매하면 됩니다.
                        </h4>
                    </div>
                </div>
                <%-include('common-script');%>
            </div>

            <%-include('common-footer');%>

    </div>

</body>

</html>