<!DOCTYPE html>
<html lang="en">
<%-include('common-header');%>

    <body>
        <div class="root container-fluid" style="padding: 0;">


            <main>
                <div class="div-1">
                    <h1 style="color: white;">hi<br>
                        hi
                        hi
                        hi
                        hi
                    </h1>
                </div>
                <div class="div-2">
                    <h1 style="color: white;"> hi
                        hi<br>
                        hi<br>
                        hi</h1>

                </div>
            </main>


            <%-include('common-footer');%>
        </div>
        <%-include('common-script');%>
    </body>


</html>