<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <link rel="stylesheet" href="/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <title>Document</title>
</head>



    <body>

        <%-include('common-header');%>

        <div class="root container-fluid" style="padding: 0;">
            <div class="div-1">
                <div class="Mainboard-1" id="MB-first">
                    <img src="/화면구현사진모음/메인보드-1.png">
                    <div class="Mainboard-1-TEXT">
                        <h2>최고사양을 포용하는 절대적인 베이스</h2>
                        <h2>압도적인 전원 솔루션의 게이밍 보드 [MSI MEG Z790 에이스]</h2>
                        <br>
                        <br>
                        <!--본문 내용-->
                        <img src="/화면구현사진모음/메인보드1-스펙.png">
                    </div>
                </div>
            </div>
            <div class="div-2">
                <div class="Mainboard-2" id="MB-second">
                    <img src="./화면구현사진모음/Mainboard-2.jpg">
                    <div class="Mainboard-2-TEXT">
                        <h2>메인보드 무엇을 기준으로 구매해야하는가?</h2>
                        <br>
                        <br>
                        <!--본문 내용-->
                        <h4>메인보드는 다른 하드웨어 요소들의 집과 같습니다.
                            <hr>
                            하드웨어간에 연결 할 수 있는 인터페이스를 제공하며,
                            <hr>
                            CPU, 그래픽카드 등의 다른 하드웨어간의 상호작용을 통해
                            <hr>
                            시스템이 원활하게 작동할 수 있도록 하는 역할을 합니다.
                            <hr>
                            어떤 상호작용을 하는지를 나열하자면 4가지 기능을 나열 할 수 있습니다.
                            <hr>
                            전원 공급 / 데이터 통신 / BIOS / 확장성 기능을 제공합니다.
                            <hr>
                            <br>
                            그렇기에 구매시에는 내가 사용중인 하드웨어의 규격, 전원, 상호 지원 여부를
                            <hr>
                            판단하여 구매하면 됩니다.
                        </h4>

                    </div>
                </div>
                <%-include('common-script');%>
            </div>

            <%-include('common-footer');%>

        </div>
    </body>