<!DOCTYPE html>
<html lang="en">

<body>
    <div class="root container-fluid" style="padding: 0;">

        <%-include('common-header');%>

            <main>
                <div class="div-1">
                    <div class="RAM-1" id="RAM-first">
                        <img src="./화면구현사진모음/램사진.png">
                        <div class="RAM-1-TEXT">
                            <h2>누구도 따라올 수 없는 스피드</h2>
                            <h2>새로운 시대의 서막을 알리는 DDR5</h2>
                            <br>
                            <br>
                            <!--본문 내용-->
                            <img src="./화면구현사진모음/램스펙.png">
                        </div>
                    </div>
                </div>
                
                <div class="div-2">
                    <div class="RAM-2" id="RAM-second">
                        <img src="./화면구현사진모음/램-2.png">
                        <div class="RAM-2-TEXT">
                            <h2>게임용 PC를 위한 RAM 선택 가이드</h2>
                            <h2>메인보드와 호환이 되는가?</h2>
                            <br>
                            <br>
                            <!--본문 내용-->
                            <h4>램은 컴퓨터 실행시의 단기 데이터를 저장합니다.
                                <hr>
                                프로그램을 구동 시 프로그램의 데이터에 빠르게 접근하고
                                <hr>
                                빠르게 필요한 데이터를 읽어야 합니다.
                                <hr>
                                RAM 용량과 주파수를 고려하기 전에 먼저 RAM이
                                <hr>
                                메인보드 및 프로세서와 호환되는지 확인해야 합니다.
                                <hr>
                                잘못된 유형의 모듈은 작동 자체가 되지 않으며
                                <hr>
                                PC에 적합하지 않은 사양의 RAM은 낮은 성능을 발휘합니다.
                            </h4>

                        </div>
                    </div>
                </div>
            </main>

            <%-include('common-script');%>
    </div>

    <%-include('common-footer');%>

</body>

</html>